<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}

    {% if page_title %}
    {{ page_title }} - 

    {% endif %}

    {{ site_name }}

    {% endblock title %}</title>
    
    <meta name="keywords" content="{{ meta_keywords }}">
    <meta name="description" content="{{ meta_description }}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% block site_wrapper %}

{% endblock %}
    
</body>
</html>